/**************************************************************************************************
************************************* General styles *********************************************
**************************************************************************************************/
body{
    font-family: Lato,sans-serif;
    margin: 0;
    line-height: 1.4;
}
a{
    text-decoration: none;
    color: #333;
}
::selection{
    background: rgba(255,0,0,.7);
    color: #fff;
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: rgba(255,0,0,.7);
    border-radius: 10px;
}
::webkit-scrollbar-thumb:window-inactive{
    background: rgba(255,0,0,.7);
}
/**************************************************************************************************
************************************* Helper classes **********************************************
**************************************************************************************************/
.container{
    width: 770px;
    margin: 0 auto;
}
.container-fluid{
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
}
.row{
    margin-left: -15px;
}
.clearfix:after,.row:after{
    content: '';
    display: block;
    clear: both;
}
.row .col-12{
    float: left;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.row .col-11{
    float: left;
    width: 91.67%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-6{
    float: left;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}
.row .col-4{
    float: left;
    width: 33.33%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-3{
    float: left;
    width: 25%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-1{
    float: left;
    width: 8.33%;
    padding: 15px;
    box-sizing: border-box;
}
[class*=col-].no-top-bottom-padding{
    padding-bottom: 0;
    padding-top: 0;
}
.row.no-top-bottom-padding [class*=col-]{
    padding-bottom: 0;
    padding-top: 0;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align: justify;
}
.p-0{
    padding: 0;
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.p-30{
    padding: 30px;
}
.p-40{
    padding: 40px;
}
.p-t-10{
    padding-top: 10px!important;
}
.p-b-10{
    padding-bottom: 10px;
}
.m-0{
    margin: 0;
}
.m-10{
    margin: 10px;
}
.m-20{
    margin: 20px;
}
.m-30{
    margin: 30px;
}
.m-40{
    margin: 40px;
}
.m-t-0{
    margin-top: 0;
}
.img-responsive{
    width: 100%;
}
/**************************************************************************************************
************************************* Navbar classes **********************************************
**************************************************************************************************/
.navbar{
    width: 100%;
    height: 45px;
    line-height: 45px;
}
.navbar-fixed{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}
.navbar-dark{
    background: #000;
    color: #fff;
}
.navbar-blue{
    background: #0077B6 ;
}
.menu,.sub-menu{
    margin: 0;
    padding: 0;
    list-style: none;
}
.sub-menu{
    display: none;
}
.menu .menu-item{
    display: inline-block;
    text-transform: uppercase;
}
.menu .menu-item a{
    padding: 0 20px;
    display: block;
    height: 100%;
}
.has-sub-menu{
    position: relative;
}
.has-sub-menu:hover .sub-menu{
    display: block;
}
.has-sub-menu .sub-menu-list {
    position: absolute;
    left: 0;
    background: #fff;
    color: #000;
    width: 160px;
}
.sub-menu-list .sub-menu .menu-item{
    text-transform: capitalize;
    display: block;
}
.sub-menu-list .sub-menu .menu-item a{
    display: block;
}
.navbar-dark .menu .menu-item a:link,
.navbar-dark .menu .menu-item a:visited{
    color: #fff;
}
.navbar-dark .menu .menu-item a:hover,
.navbar-dark .menu .menu-item.has-sub-menu:hover>a{
    background: #ccc;
    color: #333;
}
.navbar-blue .menu .menu-item a:hover{
    background: #fc3;
}
.sub-menu-list .sub-menu .menu-item a:link,
.sub-menu-list .sub-menu .menu-item a:visited{
    color: #333;
}
.search-box{
    padding: 0 20px;
}
.search-box:hover{
    background: red;
    cursor: pointer;
}
/**************************************************************************************************
************************************* slider classes **********************************************
**************************************************************************************************/
.slider{
    width: 100%;
}
.slider-list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.slider-item{
    position: relative;
}
.slider .slider-image{
    width: 100%;
}
.slider-item .large-caption{
    position: absolute;
    bottom: 50px;
    color: #fff;
    width: 100%;
    text-align: center;
}
.large-caption .caption-title{
    font-size: 30px;
}

/**************************************************************************************************
************************************* Section classes **********************************************
**************************************************************************************************/
.section{
    padding: 85px 0;
}
.section-black{
    background: #000;
    color: #fff;
}
.section .section-heading h2{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2em;
    letter-spacing: 4px;
    margin: 0 0 18px;
}
.section .section-heading p{
    font-weight: 300;
    font-style: italic;
    font-size: 18px;
    margin: 0;
}
.section-white .sectio-heading p{
    color: dimgray;
}
.section-black .section-heading p{
    color: #AAA;
}

/**************************************************************************************************
************************************* Button classes **********************************************
**************************************************************************************************/
.btn{
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: none;
    border: solid 1px #333;
}
.btn-default{
    background: #000;
    border-color: #000;
    color: #fff;
}
.btn-default:hover{
    background: #ccc;
    color: #333;
    cursor: pointer;
    border-color: #ccc;
}
.btn-blue{
    background: blue;
    border-color: blue;
    color: #fff;
}
.btn-blue:hover{
    background: #fff;
    color: blue;
}
.btn-default-outline{
    background: #fff;
    color: blue;
    border: solid 1px blue;
}
.btn-default-outline:hover{
    background: blue;
    color: #fff;
}
.btn-rounded{
    border-radius: 5px;
}
/**************************************************************************************************
************************************* Band classes ************************************************
**************************************************************************************************/
.photographer{
    text-align: center;
}
.photographer img{
    width: 155px;
}
/**************************************************************************************************
************************************* Tour Section **********************************************
**************************************************************************************************/
.tours{
    background: #fff;
    color: #333;
}
.tour-list{
    list-style: none;
    color: #797775;
}
.tour-item{
    padding: 10px 15px;
    border-bottom: solid 1px #ddd;
}
.tour-item:last-child{
    border: none;
}
/*
.tour-item-not(.last-item){
border-bottom:solid 1px #ddd;
}
*/
.sold-out{
    background: red;
    color: #fff;
    text-transform: capitalize;
    padding: 2px 5px;
    margin-left: 20px;
}
.badge{
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 100%;
}
.badge-black{
    background: #000;
    color: #fff;
}
.event{
    position: relative;
    line-height: 0;
}
.event img{
    width: 100%;
}
.event .overlay{
    display: absolute;
    width: 100%;
    height:100%;
    background: rgba(0,0,0,.4);
    top: 0;
    left: 0;
    display: none;
}
.event-content{
    padding: 10px;
    background: #fff;
    color: #333;
}
.event-date{
    color: #999;
}

/**************************************************************************************************
************************************* contact classes **********************************************
**************************************************************************************************/
.form-control{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: solid 1px #ccc;
    margin-bottom: 8px;
}
.contact-details p,.contact-details i{
    font-size: 18px;
}
grayscale{
    filter: grayscale(50%);
}
footer.section-white{
    color: #777;
}
.social-icons{
    font-size: 24px;
}
.social-icons:hover{
    color: #999;
}
@media(max-width:550px){
    .container{
        width:90%;
    }
}
@media(min-width:551px) and (max-width:768px){
    .container{
        width: 90%;
    }
}
@media(max-width:550px){
    .row .col-6{ width: 100%; }
    .row .col-4{ width: 100%; }
}
@media(max-width:550px){
    .right-section{
        display: none;
    }
}